<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Travel Plan</title> 
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
  	<a href='/dashboard'>Home</a> | <a href='/logout'>Logout</a>
   <h1>Add </h1>
   <div class ="container">
  <div class="col-md-4">
  <form action='/addtrip' method='post'>
        <div class="form-group">
              <label for="destination">Destination</label>
              <input name="destination" type="destination" class="form-control" id="destination" placeholder="destination">
        </div>
         <div class="form-group">
              <label for="plan">Description</label>
              <input name="plan" type="plan" class="form-control" id="plan" placeholder="plan">
        </div>
         <div class="form-group">
              <label for="travel_start">Travel Date From:</label>
              <input name="travelstart" type="date" class="form-control" id="travel_start" placeholder="travel_start">
        </div>
         <div class="form-group">
              <label for="travel_end">Travel End To:</label>
              <input name="travelend" type="date" class="form-control" id="travel_end" placeholder="travel_end">
        </div>
        <div class="form-group">
              <input name="user_id" type="hidden" value ="@ViewBag.User_one.id" class="form-control" id="user_id">
        </div>
           <button type="submit" class="btn btn-default">Add</button><br><br>
  </form>
  </div>
  </div>
    @{
        if(ViewBag.errors != null){
            foreach(var error in ViewBag.errors){
            <p class="errors">@error</p>
            }
        }   
    } 
</body>
</html>
